{% extends 'brosmokingapp/basic.html' %}

{% block title %} About {% endblock %}

{% block body %}
{% load static %}

  <!-- Heading -->
     <div class="heading-title-about">


        <h2>About Bro-Smoke</h2>


    </div>


  <div class="about-para">
      <p>
          Bro-smoke is developed with primary goal of helping my smoker friends in quitting<br>Initially developed in my leisure and as a remedy for my boredom I believe With Bro-smoke you can easily and instantly add your cigarette consumption and then keep a track and check your consumption. You can look at your monthly , weekly and day wise stats and these
          numbers will help you realise how much you smoke and how much you spend on it. With Bro-Smoke you can also look at your friend's status and check on him too.<br>It's still under development and need your feedback to improve.<br> Hope it helps you to track and quit smoking.
      </p>
  </div>
{% endblock %}